*{
  margin: 0;
  padding:0;
}

:root{
  /*kolory*/
  --masterColor: rgba(245, 245, 245, 1);
  --masterTransparentColor:rgba(245, 245, 245, 0.7);
  --masterAccentColor:rgb(0, 102, 207);
  /*filter*/
  --masterBlur:blur(10px);
  /*wielkości*/
  --headerBarHeight:50px;
}

body{
  width: 100%;
  font-family: calibri,arial , sans-serif;
}

.headerBar{
  width:100%;
  height:var(--headerBarHeight);
  background-color: var(--masterAccentColor);
  position: fixed;
  top: 0;
  left: 0;
}
.headerBarButton{
  height:var(--headerBarHeight);
  width: var(--headerBarHeight);
  background-color: transparent;
  outline: none;
}
.mainMenu{
  bottom: 0;
  left: -100vw;
  width:70vw;
  max-width: 400px;
  position: fixed;
  height:Calc(100vh - var(--headerBarHeight));
  background-color: cyan;
  z-index: 1000;
  transition: left .2s;
}
.mainMenuItem{
  width:100%;
  height:var(--headerBarHeight);
  margin-top: 1px;
  height:var
}
.contentWrapper{
  margin-top: var(--headerBarHeight);
  margin-bottom: 0;
  width: Calc(100% - 10px);
  min-height:Calc(100vh - (var(--headerBarHeight) + 10px));
  background-color: rgb(223, 219, 219);
  padding: 5px;

}

.epCCont{
  border: solid 0px;
  padding:4px;
  background-color: white;
  border-radius: 5px;
  max-width: 900px;
  margin: 5px auto;
  position: relative;
  min-height: 60px;
}
.epCimg{
  width:60px;
  height:60px;
  background-color: red;
  border-radius: 50%;
  margin 5px;
  display: inline-block;
  top:5px;
  position: absolute;
}
.epCCC{
  display: inline-block;
  margin-left: 70px;
  width:calc(100% - 70px);

}
