* {
  margin: 0;
  padding: 0;
}

:root {
  /* kolory */
  --masterColor: rgba(245, 245, 245, 1);
  --masterTransparentColor: rgba(245, 245, 245, 0.7);
  --masterAccentColor: rgb(0, 102, 207);

  /* filter */
  --masterBlur: blur(10px);

  /* wielkości */
  --headerBarHeight: 79px;
  --headerButtonSize: 50px;
}

body {
  width: 100%;
  font-family: calibri, arial, sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.headerBar {
  width: 100%;
  height: var(--headerBarHeight);
  background-color: var(--masterAccentColor);
  position: fixed;
  z-index: 1000;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 5px 0px black;
}

.headerSpacer {
  height: var(--headerBarHeight);
}

.headerBarButton {
  height: var(--headerButtonSize);
  width: var(--headerButtonSize);
  background-color: transparent;
  outline: none;
  color: white;
  border-style: solid;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.26);

  /* transition: 0.2s; */
}

.headerBarButton:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.headerBarButton:active {
  background-color: rgba(0, 0, 0, 0.16);
}

.buttonsWraper {
  padding-top: 29px;
}

.mainMenu {
  bottom: 0;
  left: -100vw;
  width: 70vw;
  max-width: 400px;
  position: fixed;
  height: calc(100vh - var(--headerBarHeight) - 1px);
  background-color: rgb(218, 218, 218);
  z-index: 1000;

  /* transition: left 0.2s; */
}

#mask {
  background-color: rgba(54, 201, 48, 0);
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100vw;
  z-index: 999;

  /* transition: backdrop-filter 0.3s; */
}

.mainMenuItem {
  height: var(--headerButtonSize);
  margin-top: 1px;
  width: 100%;
}

#electron-titlebar {
  background-color: rgba(0, 0, 0, 0.15);
  max-height: 29px;
}

.content {
  width: calc(100% - 2px);
  height: calc(100vh - var(--headerBarHeight) - 2px);
  overflow-y: auto;
}

#main {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: var(--masterAccentColor);
  border-width: 1px;
}

.contentItem {
  display: grid;
  grid-template:
    "img title title" 30px
    "img amount cat" 30px
    "img desc desc" 1fr
    /50px 1fr 1fr;
  background-color: rgb(237, 237, 237);
  max-width: 700px;
  margin: 3px auto;
  border-radius: 5px;
  grid-gap: 5px;
  padding: 5px;
}

.cItemImg {
  width: 50px;
  height: 50px;
  background-color: var(--masterAccentColor);
  grid-area: img;
  border-radius: 50%;
  border: 1px lightgrey;
}

.cItemTitle {
  grid-area: title;
}

.cItemAmount {
  grid-area: amount;
}

.cItemCat {
  grid-area: cat;
}

.cItemDesc {
  grid-area: desc;
}

.defaultForm {
  position: fixed;
  display: grid;
  width: 40vw;
  height: 70vh;
  top: 100px;
  left: 30vw;
  background-color: rgb(117, 131, 173);
  padding: 8px;
  border-radius: 5px;
  min-height: 50px;
  max-height: 200px;
  grid-gap: 4px;
  box-shadow: 0 3px 5px 3px lightgrey;
}

#incomesForm {
  grid-template:
    "title title" 1fr
    "name nameVal" 1fr
    "amount amountVal" 1fr
    "desc descVal" 1fr
    "cancel submit" 1fr
    / 1fr 3fr;
}

#outcomesForm {
  grid-template:
    "title title" 1fr
    "name nameVal" 1fr
    "amount amountVal" 1fr
    "cat catVal" 1fr
    "desc descVal" 1fr
    "cancel submit" 1fr
    / 1fr 3fr;
}

.defaultForm h2 {
  grid-area: title;
  text-align: center;
}

#contextButtons {
  display: inline-block;
}

#contextButtons button {
  margin-right: 5px;
}

.income {
  background-color: rgba(227, 227, 227, 0.8);
  width: 60vw;
  min-width: 380px;
  margin: 0 calc(20vw - 6px);
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(94, 94, 94, 0.52);
  margin-top: 3px;
}

.income * {
  display: inline-block;
}

#incomesAmount {
  display: inline-block;
  float: right;
  margin: 15px 10px;
}

#date {
  display: inline-block;
  float: right;
  margin: 15px 10px;
}
